
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@1,800&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
        background-color: darkslateblue;
    }

    .forget-pwd > a {
        color: #dc3545;
        font-weight: 500;
    }

    .forget-password .panel-default {
        padding: 31%;
        margin-top: -27%;
    }

    .forget-password .panel-body {
        padding: 15%;
        margin-bottom: -50%;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {
        width: 40%;
        margin-bottom: 10%;
    }

    .btnForget {
        background: #c0392b;
        border: none;
    }

    .forget-password .dropdown {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

        .forget-password .dropdown button {
            width: 100%;
        }

        .forget-password .dropdown ul {
            width: 100%;
        }
</style>
<div class="container forget-password" style="font-family: 'Cairo', sans-serif;">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                        <h2  class="text-center">تغيير كلمة المرور </h2>
                        <p>يمكنك تغيير و تحديث  كلمة المرور من هنا </p>
                        <form asp-controller="" asp-action="" role="form" autocomplete="off" class="form" method="post">
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Token" />

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input asp-for="Password" id="forgetAnswer" name="forgetAnswer" placeholder="كلمة المرور " class="form-control text-right" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input asp-for="ConfirmPassword" id="forgetAnswer" name="forgetAnswer" placeholder="تأكيد كلمة المرور" class="form-control text-right" type="password">
                                </div>
                            </div>

                            <div class="form-group">
                                <input name="btnForget" class="btn btn-lg btn-primary  " value="إنهاء" type="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>